/*fondo*/
html {
  box-sizing: border-box;
  background-color: black;
  font-family: "Inter", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

/*Nav*/
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #121212;
  padding: 0.5rem;
}

/*footer*/

footer {
  background-color: #121212;
  width: 100%;
}

footer p {
  text-align: center;
  color: #dad6d6;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 1rem;
}

a {
  color: #dad6d6;
  text-decoration: none;
  text-decoration-color: none;
}

/*main, index*/

.hero-image {
  background-image: url("../img/reportaje-cafe-vf.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  color: #fff;
  text-align: center;
  font-size: 96px;
  text-shadow: 1px 6px 20px rgba(0, 0, 0, 0.72);
}

.hero-text p {
  text-align: center;
  color: #fff;
  font-size: 46px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*main-servicios*/

/*espresso*/

.espresso-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 180px;
}

.espresso {
  width: 520px;
  height: 380px;
  border-radius: 8%;
}

.espresso-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.espresso-texto {
  color: #dad6d6;
  padding-left: 20px;
  margin-bottom: 10px;
}

/*capuchino*/

.capuchino-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  margin-bottom: 180px;
}

.capuchino {
  width: 520px;
  height: 380px;
  border-radius: 8%;
  margin-left: 20px;
}

.capuchino-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.capuchino-texto {
  color: #dad6d6;
  padding-left: 20px;
}

/*Americano*/

.americano-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 180px;
}

.americano {
  width: 520px;
  height: 400px;
  border-radius: 8%;
}

.americano-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.americano-texto {
  color: #dad6d6;
  padding-left: 20px;
}

/*Latte*/

.latte-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  margin-bottom: 180px;
}

.latte {
  width: 520px;
  height: 420px;
  border-radius: 8%;
  margin-left: 20px;
}

.latte-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.latte-texto {
  color: #dad6d6;
  padding-left: 20px;
}

/*Moca*/

.moca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 180px;
}

.moca {
  width: 570px;
  height: 400px;
  border-radius: 8%;
}

.moca-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.moca-texto {
  color: #dad6d6;
  padding-left: 20px;
}

/*machiatto*/

.machiatto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  margin-bottom: 180px;
}

.machiatto {
  width: 520px;
  height: 380px;
  border-radius: 8%;
  margin-left: 20px;
}

.machiatto-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.machiatto-texto {
  color: #dad6d6;
  padding-left: 20px;
}


/*main-nosotros*/

.container-introduction {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: 20px;
}

iframe {
  width: 1000px;
  height: 650px;
}

.container-grid {
  width: 100%;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
}

.container-grid .box-img figure {
  width: 100%;
  height: 100%;
}

.container-grid .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-grid .box-img:nth-child(1) {
  grid-column-start: span 2;
}

.container-grid .box-img:nth-child(4) {
  grid-row-start: span 2;
}

@media screen and (max-width: 800px){
  .container-grid{
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
  }
  .container-grid .box-img:nth-child(1) {
      grid-column-start: span 1;
  }
}

@media screen and (max-width:500px){
  .container-grid{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img img{
    height: 200px;
  }
}

/*testimonios-main*/

.background-container {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #2c2c2c;
  background-position: center;
}

.testimonios-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(4, 100px);
}

.testimonio {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.texto-elon {
  color: #fff;
}
.titulo-elon {
  color: #fff;
  font-style: italic;
}

.texto-bolt {
  color: #fff;
}
.titulo-bolt {
  color: #fff;
  font-style: italic;
}

.texto-gates {
  color: #fff;
}
.titulo-gates {
  color: #fff;
  font-style: italic;
}

.texto-schumacher {
  color: #fff;
}
.titulo-schumacher {
  color: #fff;
  font-style: italic;
}

.texto-jordan {
  color: #fff;
}
.titulo-jordan {
  color: #fff;
  font-style: italic;
}

.texto-mark {
  color: #fff;
}
.titulo-mark {
  color: #fff;
  font-style: italic;
}

.texto-messi {
  color: #fff;
}
.titulo-messi {
  color: #fff;
  font-style: italic;
}

.texto-obama {
  color: #fff;
}
.titulo-obama {
  color: #fff;
  font-style: italic;
}

@media screen and (max-width: 800px){
  .testimonios-container{
     width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px){
  .container-grid {
        width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}

/*main-contacto*/

.form {
  background-color: #fff;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "form-user"
    "datos-articulos
    "datos-envio";
    row-gap: 10px;
    margin-top: 30px;
    padding: 0 20px;
}

.form-user {
  grid-area: form-user;
  display: flex;
  flex-direction: column;
}

.datos-articulos {
  grid-area: datos-articulos;
}

.datos-envio {
  grid-area: datos-envio;
}