/*Nav*/
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #121212;
  padding: 0.5rem;
  z-index: 99999; }
  header nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header .logo {
    display: flex;
    align-items: center; }
  header .logo-img {
    width: 50px; }
    header .logo-img img {
      width: 100%; }
  header .titulo-nav {
    color: #dad6d6;
    font-size: 2rem;
    padding-left: 24px; }
  header .link-list {
    display: flex; }
    header .link-list li {
      list-style-type: none;
      margin-right: 3rem;
      transition: 1s; }
      header .link-list li:hover {
        transform: scale(1.1);
        transition: 1s; }
    header .link-list .nav-links {
      color: #dad6d6;
      text-decoration: none;
      text-decoration-color: none; }
      header .link-list .nav-links:hover {
        color: #895737; }

/*footer*/
footer {
  background-color: #121212;
  width: 100%; }
  footer p {
    text-align: center;
    color: #dad6d6; }

/*main, index*/
.hero-image {
  background-image: url("../img/reportaje-cafe-vf.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero-text h1 {
  color: #fff;
  text-align: center;
  font-size: 96px;
  text-shadow: 1px 6px 20px rgba(0, 0, 0, 0.72); }

.hero-text p {
  text-align: center;
  color: #fff;
  font-size: 46px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

/*main-servicios*/
.encabezado-servicios {
  color: #dad6d6;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px; }

/*espresso*/
.espresso-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 180px; }

.espresso {
  width: 520px;
  height: 380px;
  border-radius: 8%; }

.espresso-titulo {
  color: #dad6d6;
  padding-left: 20px; }

.espresso-texto {
  color: #dad6d6;
  padding-left: 20px;
  margin-bottom: 10px; }

/*capuchino*/
.capuchino-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  margin-bottom: 180px; }

.capuchino {
  width: 520px;
  height: 380px;
  border-radius: 8%;
  margin-left: 20px; }

.capuchino-titulo {
  color: #dad6d6;
  padding-left: 20px; }

.capuchino-texto {
  color: #dad6d6;
  padding-left: 20px; }

/*Americano*/
.americano-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 180px; }

.americano {
  width: 520px;
  height: 400px;
  border-radius: 8%; }

.americano-titulo {
  color: #dad6d6;
  padding-left: 20px; }

.americano-texto {
  color: #dad6d6;
  padding-left: 20px; }

/*Latte*/
.latte-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  margin-bottom: 180px; }

.latte {
  width: 520px;
  height: 420px;
  border-radius: 8%;
  margin-left: 20px; }

.latte-titulo {
  color: #dad6d6;
  padding-left: 20px; }

.latte-texto {
  color: #dad6d6;
  padding-left: 20px; }

/*Moca*/
.moca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 180px; }

.moca {
  width: 570px;
  height: 400px;
  border-radius: 8%; }

.moca-titulo {
  color: #dad6d6;
  padding-left: 20px; }

.moca-texto {
  color: #dad6d6;
  padding-left: 20px; }

/*machiatto*/
.machiatto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  margin-bottom: 180px; }

.machiatto {
  width: 520px;
  height: 380px;
  border-radius: 8%;
  margin-left: 20px; }

.machiatto-titulo {
  color: #dad6d6;
  padding-left: 20px; }

.machiatto-texto {
  color: #dad6d6;
  padding-left: 20px; }

/*main-nosotros*/
.encabezado-galeria {
  color: #dad6d6;
  text-align: center;
  margin-bottom: 16px; }

.container-introduction {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: 20px; }

iframe {
  width: 1000px;
  height: 650px; }

.container-grid {
  width: 100%;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px; }

.container-grid .box-img figure {
  width: 100%;
  height: 100%; }

.container-grid .box-img img {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  object-fit: cover;
  transition: 1s; }

.box-img:hover {
  transition: 1s;
  transform: scale(1.2); }

.container-grid .box-img:nth-child(1) {
  grid-column-start: span 2; }

.container-grid .box-img:nth-child(4) {
  grid-row-start: span 2; }

/*media-seccion nosotros*/
@media screen and (max-width: 800px) {
  .container-grid {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px; }
  .container-grid .box-img:nth-child(1) {
    grid-column-start: span 1; } }

@media screen and (max-width: 500px) {
  .container-grid {
    width: 90%;
    grid-template-columns: repeat(1, 1fr); }
  .container-img .box-img img {
    height: 200px; } }

/*testimonios-main*/
.background-container {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center; }

.testimonios-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(4, 100px); }

.testimonio {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px; }

.texto-elon {
  color: #fff; }

.titulo-elon {
  color: #fff;
  font-style: italic; }

.texto-bolt {
  color: #fff; }

.titulo-bolt {
  color: #fff;
  font-style: italic; }

.texto-gates {
  color: #fff; }

.titulo-gates {
  color: #fff;
  font-style: italic; }

.texto-schumacher {
  color: #fff; }

.titulo-schumacher {
  color: #fff;
  font-style: italic; }

.texto-jordan {
  color: #fff; }

.titulo-jordan {
  color: #fff;
  font-style: italic; }

.texto-mark {
  color: #fff; }

.titulo-mark {
  color: #fff;
  font-style: italic; }

.texto-messi {
  color: #fff; }

.titulo-messi {
  color: #fff;
  font-style: italic; }

.texto-obama {
  color: #fff; }

.titulo-obama {
  color: #fff;
  font-style: italic; }

@media screen and (max-width: 800px) {
  .testimonios-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 500px) {
  .container-grid {
    width: 90%;
    grid-template-columns: repeat(1, 1fr); } }

/*main-contacto*/
.container-contacto {
  display: flex;
  min-height: 100vh;
  background-image: url(../img/coffee-shop.jpg);
  background-size: cover;
  background-position: center; }

.contacto {
  background-color: #dad6d6;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px black;
  text-align: center; }

.form-titulo {
  font-size: 2rem;
  margin-bottom: 0.5em; }

.form-parrafo {
  font-weight: 300; }

.form-link {
  font-weight: 400;
  color: #895737; }

.form-container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em; }

.form-group {
  position: relative;
  --color: #5757577e; }

.form-input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color); }

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #895737; }

.form-label {
  color: #2c2c2c;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s; }

.form-submit {
  background-color: #895737;
  color: #dad6d6;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em; }

.form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #895737;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s; }

.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line {
  transform: scale(1); }

@media (max-width: 425px) {
  .form-titulo {
    font-size: 1.8rem; } }

/*fondo*/
html {
  box-sizing: border-box;
  background-color: black;
  font-family: "Inter", sans-serif; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0; }
