/*main-servicios*/

.encabezado-servicios {
  color: #dad6d6;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

/*espresso*/

.espresso-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 180px;
}

.espresso {
  width: 520px;
  height: 380px;
  border-radius: 8%;
}

.espresso-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.espresso-texto {
  color: #dad6d6;
  padding-left: 20px;
  margin-bottom: 10px;
}

/*capuchino*/

.capuchino-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  margin-bottom: 180px;
}

.capuchino {
  width: 520px;
  height: 380px;
  border-radius: 8%;
  margin-left: 20px;
}

.capuchino-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.capuchino-texto {
  color: #dad6d6;
  padding-left: 20px;
}

/*Americano*/

.americano-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 180px;
}

.americano {
  width: 520px;
  height: 400px;
  border-radius: 8%;
}

.americano-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.americano-texto {
  color: #dad6d6;
  padding-left: 20px;
}

/*Latte*/

.latte-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  margin-bottom: 180px;
}

.latte {
  width: 520px;
  height: 420px;
  border-radius: 8%;
  margin-left: 20px;
}

.latte-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.latte-texto {
  color: #dad6d6;
  padding-left: 20px;
}

/*Moca*/

.moca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 180px;
}

.moca {
  width: 570px;
  height: 400px;
  border-radius: 8%;
}

.moca-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.moca-texto {
  color: #dad6d6;
  padding-left: 20px;
}

/*machiatto*/

.machiatto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  margin-bottom: 180px;
}

.machiatto {
  width: 520px;
  height: 380px;
  border-radius: 8%;
  margin-left: 20px;
}

.machiatto-titulo {
  color: #dad6d6;
  padding-left: 20px;
}

.machiatto-texto {
  color: #dad6d6;
  padding-left: 20px;
}
