@import "main-index";
@import "servicios";
@import "nosotros";
@import "testimonios";
@import "contacto";

/*fondo*/
html {
  box-sizing: border-box;
  background-color: black;
  font-family: "Inter", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}
