@import "./main-index.scss";
@import "./servicios.scss";
@import "./nosotros.scss";
@import "./testimonios.scss";
@import "./contacto.scss";

/*fondo*/
html {
  box-sizing: border-box;
  background-color: black;
  font-family: "Inter", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}
